.container{
    background-color: var(--bg-calculator-color);
    width: 320px;
    height: 610px;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 5%;
    box-shadow: 0 5px 10px 5px #00000010;

}