.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 5% 3%;
}
.box0{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 140px;
    height: 70px;
    border-radius: 0%;
}
.special-operation{
    background-color: var(--btn-special-operations-color);

}
.operation{
    background-color: var(--btn-operations-color);
    color: #fff;
}
/* .keys{
    height: 350px;
    width: 320px;
    text-align: center;
} */