body{
    background-color: var(--bg-color);
}
:root{
    --bg-color:#44749d;
    --bg-calculator-color:#000000;

    --btn-numbers-color:#333333;
    --btn-special-operations-color:#A5A5A5;
    --btn-operations-color:#FF9F0A;

}